.list
    each item in db
        a(href=routes.textDetail) 
            h5.text__title=item.title
            h6.text__author=item.author
            h6.text__views=item.views
            h6.text__createdAt=item.createdAt

.search__form
    from(action=routes.search, method="get")
        input(type="text", placeholder="Search by term...", name="term")