extends layouts/main

block content
    .form-container
        form(action=`${routes.text}${routes.upload}`,method="post")
            input(type="text", name="title", placeholder = "title", required=true)
            input(type="text", name="author", placeholder = "Author",required=true)
            select(name="genre")
                option(value="", selected) Genre
                each item in genre
                    option(value=`${item}`) #{item}
            textarea(name="description", placeholder="Contents")
            input(type="submit", value="Submit")